* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--main_color);
    font-family: "atkinson-hyperlegible", sans-serif;



    background-image:
        linear-gradient(90deg, var(--gradient_1) 5px, transparent 5px),
        linear-gradient(var(--gradient_2) 5px, transparent 5px),
        radial-gradient(circle, var(--gradient_3) 40%, var(--gradient_4));
    background-size: 40px 40px, 40px 40px, cover;
    background-blend-mode: normal, normal, darken;
}

/* TOPBAR */
nav {
    background-color: var(--main_color);
    box-shadow: 0px 10px 5px var(--shadow_color);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_bar li {
    height: 45px;
}

.top_bar li:first-child {
    margin-right: 0;
}

.top_bar a {
    height: 100%;
    padding: 0 20px;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);

    transition: 0.3s ease-in-out;
}

.top_bar li svg {
    fill: var(--text-color);
    transition: 0.3s ease-in-out;
    margin-right: 5px;
}

.top_bar a:hover {
    color: var(--hover_color);
    scale: 1.2;

}

.top_bar li:hover svg {
    fill: var(--hover_color);
}







/* DROP BUTTON */
.dropbtn {
    height: 100%;
    background-color: transparent;
    color: var(--text-color);
    padding: 5px 0;
    font-size: 1rem;
    border: none;
    font-family: "pixelfy", sans-serif;

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main_color);
    min-width: 100px;
    box-shadow: var(--shadow_color);
    z-index: 1;

}

.dropdown-content a {
    color: var(--text-color);
    padding: 5px 10px;
    text-decoration: none;
    display: block;


}


.dropdown:hover {
    color: var(--hover_color);
    cursor: pointer;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    color: var(--text-color);
    background-color: var(--main_color);
    box-shadow: -10px 10px 5px var(--shadow_color);
}

.dropdown .dropdown-content a:hover {
    background-color: var(--text-color);
    color: var(--hover_color);
}





.velkomst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.velkomst h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    font-style: italic;

}






/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--blur_color);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px var(--shadow_color);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    height: 30px;
    display: flex;
}

.sidebar a {
    width: 100%;
    color: var(--text-color);
    list-style: none;
    text-decoration: none;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.sidebar a:hover {
    color: var(--hover_color);
}

.sidebar li:hover svg {
    fill: var(--hover_color);
}




/* WELCOME AND START BROWSING */
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.welcome h1 {
    font-size: 8rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    transition: 1s;
    animation: float 3s ease-in-out infinite;

}

.link_button {
    display: flex;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    background: var(--blur_color);
    color: var(--text-color);
    border-radius: 2rem;
    transition: 0.3s;
}

.link_button:hover {
    background-color: var(--hover_color);
    scale: 1.2;
}








:root {
    --main_color: hsl(75, 28%, 64%);
    --hover_color: hsl(163, 17%, 55%);
    --text-color: hsl(166, 74%, 91%);
    --shadow_color: hsl(74, 28%, 20%, 0.2);
    --blur_color: hsl(75, 28%, 64%);

    --gradient_1: hsl(166, 25%, 50%, 0.2);
    /* 0.2 i alpha*/
    --gradient_2: hsla(166, 25%, 50%, 0.2);
    /* 0.2 i alpha*/
    --gradient_3: hsl(166, 25%, 20%, 0.4);
    /* 0.4 i alpha*/
    --gradient_4: hsl(166, 25%, 20%, 1);
    /* 1 i alpha*/
}


/* #7AA095 #40531B #618B4A #AFBC88 */


@font-face {
    font-family: "pixelfy";
    src: url(./sources/PixelifySans-VariableFont_wght.ttf);

    font-family: "atkinson-hyperlegible";
    src: url(./sources/AtkinsonHyperlegibleMono-VariableFont_wght.ttf);

}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}





@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .welcome h1 {
        font-size: 4rem;
    }

    .link_button {
        font-size: 0.9rem;
    }

}

@media (min-width: 800px) {
    .hideOnWeb {
        display: none;
    }
}

@media (max-width: 800px) {
    .sidebar {
        width: 100%;
    }
}